body{
    font-family: 'Outfit', sans-serif;
    line-height: 1.5;
}

h2{
    border-bottom: 1px solid #eaecef;
    text-transform: uppercase;
}

.container{
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}
.footer{
    margin-buttom: 20px;
}
